<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Agregar Usuarios</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Cedula:</label>
          <input [(ngModel)]="persona.id" name="id" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Nombre:</label>
          <input [(ngModel)]="persona.nombre" name="nombre" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Apellido:</label>
          <input [(ngModel)]="persona.apellido" name="apellido" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Direccion:</label>
          <input [(ngModel)]="persona.direccion" name="direccion" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Telefono:</label>
          <input [(ngModel)]="persona.telefono" name="telefono" type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Correo:</label>
          <input [(ngModel)]="persona.correo" name="correo" type="text" class="form-control">
        </div>
        <button (click)="Guardar()" class="btn btn-danger">Guardar Cliente</button>
      </form>
    </div>
  </div>
</div>
